td, th {
    vertical-align: middle;
}

tr, td, th {
    border: 1px solid var(--bs-border-color) !important;
}

.container-fluid {
    height: calc(100vh - 60px);
    overflow: auto;
}

table {
    min-width: 1000px;
}

.footer-container {
    border-top: 1px solid var(--bs-border-color);
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    background: white;
    position: relative;
}

.total-container {
    width: 100%;
    font-weight: bold;
}

.action-panel {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.action-panel > button {
    white-space: nowrap;
}

.table > thead > tr > th {
    position: sticky;
    top: 0;
    background: white;
}